﻿<h1>Welcome {{tdl.user.firstName}}</h1>
<div>
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="todo in tdl.todos">
        <div class="itemlist">
            <input type="checkbox" ng-model="todo.done"/>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </div>
        <button class="btn btn-primary" ng-click="tdl.modifyTodo(todo.id)">Modify</button>
    </li>
    </ul>
    <form>
    <input class="add-input" placeholder="I need to..." type="text" ng-model="tdl.formTodoText" ng-model-instant />
    <button class="btn btn-primary" ng-click="tdl.addTodo()">Add/Update</button>
    </form>
    
    <button class="btn btn-danger" ng-click="tdl.clearCompleted()">Clear completed</button>
</div>
